<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CONTROLPROYECTOANDINO.My.MySettings.CadenaConexión"
        connectionString="Data Source=190.0.43.170;Initial Catalog=controlproyectoandino;User ID=userandino2016ism;Password=*951*ism*453$@"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
