<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormularioLicitaciones.My.MySettings.CadenaConexión" connectionString="Data Source=192.168.20.9;Initial Catalog=ISMOCOLPRODUCCION;User ID=desarrolladores;Password=@ISM@19791005" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
